torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers==4.46.2
sentence-transformers==3.4.1
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.6.1
fastapi==0.115.11
uvicorn==0.34.0
gradio_client==1.4.3
flask==3.0.2
loguru==0.7.2
chromadb==0.6.3
json5==0.9.25
python-dotenv==1.0.1
